@import url('https://fonts.cdnfonts.com/css/nimbus-mono');

body{
    font-weight: bold;
    background-image: url(img/BKG002.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

h2{
    text-align: center;
    color: #c0c0c0;
    font-family: 'Nimbus Mono', sans-serif;
    font-weight: bold;
}

p{
    text-align: center;
    color: #c0c0c0;
    font-family: 'Nimbus Mono', sans-serif;
    font-weight: bold; 
}

button{
    font-family: 'Nimbus Mono', sans-serif;
    font-weight: bold;

}

button:hover{
    color:#013968ec;
}